* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #efa3c6;
	color: #363639;
    font-family: 'Work Sans', sans-serif;
}



/* ? ----- PORTADA ----- */
.portada {
	width: 100%;
	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease-out all;
}

.portada.oculta {
	transform: translateY(100%);
}

.portada .header {
	margin-bottom: 100px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.portada .header .logotipo {
	font-size: 50px;
	font-size: 900;
	margin-bottom: 20px;
}


